{:deps
 {:aliases [:dev]}

 :dev-http
 {8000 "classpath:public"}

 :builds
 {:main
  {:target     :browser
   :js-options
   {:resolve {"react" {:target :global
                       :global "React"}
              "react-dom" {:target :global
                           :global "ReactDOM"}}}
   :modules
   {:sci-web {:entries [scittle.core]}
    :scittle.nrepl {:entries [scittle.nrepl]
                    :depends-on #{:sci-web}}
    :scittle.promesa {:entries [scittle.promesa]
                      :depends-on #{:sci-web}}
    :scittle.pprint {:entries [scittle.pprint]
                     :depends-on #{:sci-web}}
    :scittle.reagent {:entries [scittle.reagent]
                      :depends-on #{:sci-web}}
    :scittle.re-frame {:entries [scittle.re-frame]
                       :depends-on #{:scittle.reagent
                                     :sci-web}}
    :scittle.cljs-ajax {:entries [scittle.cljs-ajax]
                        :depends-on #{:sci-web}}
    :sci-web.emmy {:entries [scittle.emmy]
                   :depends-on #{:sci-web}}}
   :build-hooks [(shadow.cljs.build-report/hook)]
   :output-dir "resources/public/js"
   :devtools   {:repl-pprint true}}}}
